/* стили контактов */
.contacts {
    display: flex;
    gap: 50px;
    margin-right: 0;
    align-items: center;



    &__link {
        /* display: block; */

        display: flex;
        gap: 10px;
        align-items: center;

        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        color: var(--text-comment-color);

        transition: color var(--anim-fast);
    }

    &__link:hover,
    &__link:focus {
        color: var(--text-logo-color);
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
        fill: var(--text-logo-color);
    }

    &__icon {
        fill: var(--text-comment-color);
        stroke: var(--text-comment-color);

        transition: fill var(--anim-fast);
    }

    &__icon:hover,
    &__icon:focus {
        fill: var(--text-logo-color);
        stroke: var(--text-logo-color);
    }
}