.picture {
    /*СЕТКА динамическое кол-во элементов в строке*/
    --items: 3;

    display: flex;
    flex-wrap: wrap;
    gap: var(--indent); /* СЕТКА растояние в рх */
    
    align-items: center;
    justify-content: center;


    &__img {
        width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    }


    &__img {
    /* li с фото h2 и p */
    background: var(--bg-body-color);
    border: 1px solid #eeeeee;

    transition: box-shadow var(--anim-fast);
    }
    &__img:hover,
    &__img:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

